@font-face {
  font-family: mono;
  src: url(../fonts/mono.otf);
}

a{
  text-decoration: none;
}

body{
  font-family: mono;
  margin: 0px;
}

.box{
  display: inline-block;
  color: #212121;
  margin: 1vw;
  display: inline-table;
}

.box-img{
  width: 30vw;
  height: 15vw;
  object-fit: contain;
}

.box-title{
  font-size: 30px;
  text-align: center;
  width: 30vw;
}

.box-text{
  font-size: 20px;
  text-align: center;
  width: 30vw;
}

#boxes{
  text-align: center;
}

#title-box{
  background-color: #212121;
  padding: 30px;
}

#title{
  text-align: center;
  font-size: 50px;
  color: #ffffff;
}

#subtitle{
  text-align: center;
  font-size: 30px;
  color: #009cc8;
}

#link-row{
  font-size: 25px;
  padding: 20px;
  background-color: #eee;
  text-align: center;
}