/* main font */
@font-face {
  font-family: roboto-slab;
  src: url(../assets/fonts/roboto-slab.ttf);
}

body {
  background-color: #faf9f6;
  font-family: 'roboto-slab', monospace;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #825c95;
}

/* Wrapping container. */
#container {
  max-width: 55em;
  margin: auto;
}

/* Header styles. */
#header {
  margin-top: 0;
  text-align: center;
  background-color: #eae9e6;
  padding: 1em;
  border-radius: 0 0 1em 1em;
}

.main-title {
  margin: 0.25em 0;
}

.tagline {
  margin-bottom: 1em;
}

.socials {
  text-align: center;
}

.socials-link {
  margin: 0 0.75em;
}

.socials-icon {
  width: 2em;
}

.socials-icon:hover {
  opacity: 60%; 
}

/* Main content. */
#content {
  margin: 0 1.5em;
}

/* Career. */
.career-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.career-icon-container {
  height: 100%;
  margin-right: 1.5em;
}

.career-icon {
  width: 5em;
  max-height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.career-icon:hover {
  opacity: 60%;
}

.career-text-container {
  height: 100%;
}

.career-title {
  margin: 0;
}

.career-content {
  padding-left: 1.5em;
  margin-top: 0.5em;
  overflow: scroll;
}

/* Projects. */
.project-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
}

.project-image-container {
  margin-right: 1.5em;
}

.project-image {
  object-fit: contain;
  width: 13em;
  aspect-ratio: 2/1;
}

.project-image:hover {
  opacity: 60%;
}

.project-text-container {
  height: 100%;
}

.project-title {
  margin: 0;
}

.project-content {
  margin-top: 0.5em;
}

.project-link-icon {
  width: 1em;
}

.project-link-icon:hover {
  opacity: 60%;
}

@media (max-width: 30em) {
  .career-icon {width: 3em}
  .project-image-container {margin: 0;}

  .project-item {
    padding-bottom: 1em;
    border-bottom: 0.1em solid #999;
  }
  
  .project-image {width: 100%;}
  .project-item {flex-direction: column;}

  #projects .project-item:last-child {
    border-bottom: none;
  }  

  #old-projects .project-item:last-child {
    border-bottom: none;
  }  
}

#old-projects-title-ctrl {
  display: none;
}

#old-projects > .project-item {
  display: none;
}

#old-projects-title-ctrl:checked + label ~ .project-item {
  display: flex;
}

#old-projects-title-ctrl:checked + label > h2::after {
  content: "[-]";
}

#old-projects-title-ctrl:checked + label > h2 > span {
  display: none;
}

#old-projects {
  margin-bottom: 1em;
}

#career {
  margin-bottom: 3em;
}